.ingredientCards {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: fit-content;
  max-height: 400px;
  overflow-y: auto;
  scrollbar-width: thin;
  scrollbar-color: #2f2f37, #8585ad;
}

.card {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.specialCard {
  align-self: end;
  flex-grow: 1;
}
